.gallery {
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    column-gap: 40px;
    row-gap: 40px;
    grid-template-columns: repeat(auto-fill, 400px);
    margin-top: 5%;
    flex-wrap: wrap;
    background-color: #F7F7F7;
    margin-left: 5%;
    border-radius: 25px;
}


.post {
    position: relative;
    display: flex;
    width: 400px;
    height: 400px;
}


.post-image {
    display: flex;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.post-titre {
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 80%;
    font-size: 20px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    margin-left: 3%;
}

.linkCard {
    width: 400px;
    height: 400px;
    margin-top: 10px;
}

@media screen and (max-width: 1000px) {
    .post {
        position: relative;
        display: flex;
        width: 600px;
        height: 400px;
    }
    
    
    .post-image {
        display: flex;
        width: 600px;
        object-fit: cover;
        border-radius: 10px;
    }
    .linkCard {
        width: 600px;
        height: 400px;
        margin-top: 10px;
    }
    .gallery {
        display: grid;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        column-gap: 40px;
        row-gap: 40px;
        grid-template-columns: repeat(auto-fill, 600px);
        margin-top: 5%;
        flex-wrap: wrap;
        background-color: #F7F7F7;
        margin-left: 5%;
        border-radius: 25px;
    }
    
   
}

@media screen and (max-width: 700px) {

    .post {
        position: relative;
        display: flex;
        width: 355px;
        height: 255px;
        margin: 10px;

    }

    .post-image {
        display: flex;
        width: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    .linkCard {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .gallery {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 10px;
        margin: 0px 0px;
        flex-wrap: wrap;
        grid-template-columns: repeat(auto-fill, 300px);
    }
    .linkCard {
        width: 355px;
        height: 255px;
        margin-top: 10px;
    }
}