.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  height: 150px;
  background-color: black;
  width: 90%;
  margin-left: 5%;
  flex-direction: column;
}

.footer_image {
  height: 39px;
  width: 122px;
}
.footer_text{
  color: white;
  margin-top: 28px;
}
