@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.navbar-page {
    height: 68px;
    top: 40px;
    display:flex; 
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 1%;
    width: 100%;
}

.nav {
    
    width: 300px;
    height: 100px;
    display: flex;
    margin-right: 10%;
    
    
}

.nav-aceuil {
    height: 80px;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;
    top: 25%;
    bottom: 25%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    /* or 34px */

    display: flex;
    align-items: flex-end;
    text-align: right;
    text-decoration-line: underline;

    color: #FF6060;
}

.nav-apropos {
    height: 80px;
    width: 150px;
    
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: right;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    /* or 34px */

    display: flex;
    align-items: flex-end;
    text-align: right;
    color: #FF6060;
}
.logo{
    display:  flex;
    width: 280px;
    height: 70px;
    margin-left: 10%;
    
}

@media screen and (max-width: 700px) {
    .navbar-page {
    
    
        height: 68px;
        
        top: 70px;
        display:flex; 
        align-items: center;
        justify-content: center;
        
        flex-direction: column;
        margin-top: 12%;
        margin-bottom: 10%;
        
        width: 100%;
        
    
    }
    .logo{
        display:  flex;
        width: 280px;
        height: 70px;
        margin-left: 10%;
    }
    .nav {
    
        width: 300px;
        height: 100px;
        display: flex;
        margin-right: 0%;
        
        
    }
    }
  